h1 {
    text-align: center;
}

body {
    /*background: rgb(252, 252, 252)*/
}


/*------- portfolio -------*/

.project {
    margin: 15px 0;
}

.no-gutter .project {
    margin: 0 !important;
    padding: 0 !important;
}

.has-spacer {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.has-spacer-extra-space {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.has-side-spacer {
    margin-left: 30px;
    margin-right: 30px;
}

.project-title {
    font-size: 1.25rem;
}

.project-skill {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
}

.project-info-box {
    margin: 15px 0;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
}

.project-info-box p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

img {
    width: 100%;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
}

.rounded {
    border-radius: 5px !important;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    float: left;
    position: relative;
    left: 50%;
}

.main-container {
    float: left;
    position: relative;
    left: 50%;
}

.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}

.form>label {
    float: left;
    clear: right;
}

.form>input {
    float: right;
}

.cellContainer {
    width: 25%;
    float: left;
}

.mdeContainer {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.top-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-center {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-centralizado {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
